body
{
	margin: 0px;
	background-color: #463f3f;
}

.character
{
	height: 400px;
	position: relative;
}

.hero
{
	background-image: url("../media/hero.png");
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	border: 1px solid #777;
	top: 10px;
	position: absolute;
	z-index: 1;
}

.heroName
{
	padding: 5px;
	border: 1px solid #777;
	background-color: white;
	width: 200px;
	text-align: center;
	position: absolute; 
	z-index: 2;
	box-shadow: 3px 3px 3px #737373;
}

.left
{
	float: left;
}

.matchUp
{
	height: 400px;
	width: 68%;
	margin: auto;
}

.matchUp > div
{
	display: inline-block;
	height: 400px;
	vertical-align: top;
}

.pageContainer
{
	min-width: 1000px;
	background-color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pageFooter
{
	width: 100%;
	height: 20px;
	background-color: #737373;
	text-align: center;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	clear: both;
}

.pageHeader
{
	width: 100%;
	height: 300px;
	background-color: #737373;
	margin-bottom: 20px;
	background-image: url("../media/header.png");
	background-repeat: no-repeat;
	background-position: center;
}

.right
{
	float: right;
}

.scroll-pane 
{ 
	overflow: auto; 
	width: 70%; 
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.scroll-content 
{ 
	width: 2440px; 
	float: left; 
}

.scroll-content-item 
{ 
	width: 100px; 
	height: 100px; 
	float: left; 
	margin: 10px; 
	font-size: 3em; 
	line-height: 96px; 
	text-align: center; 
}
	
.scroll-bar-wrap 
{ 
	clear: left; 
	padding: 0 4px 0 2px; 
	margin: 0 -1px -1px -1px; 
}

.scroll-bar-wrap .ui-slider 
{ 
	background: none; 
	border:0; 
	height: 2em; 
	margin: 0 auto;  
}

.scroll-bar-wrap .ui-handle-helper-parent 
{ 
	position: relative; 
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
}

.scroll-bar-wrap .ui-slider-handle 
{ 
	top:.2em; 
	height: 1.5em; 
}
	
.scroll-bar-wrap .ui-slider-handle .ui-icon 
{ 
	margin: -8px auto 0; 
	position: relative; 
	top: 50%; 
}

.section.right .hero
{
	right: 0px;
}

.section.left .heroName
{
	left: 45px;
}

.section.right .heroName
{
	right: 45px;
}

#vote0
{	
	left: 125px;
}

#vote1
{	
	right: 110px;
}

.matchUp .section
{
	width: 40%;
}

.voteButton
{
	position: absolute;
	width: 50px;
	padding: 5px;
	font-size: 25px;
	border: 1px solid #777;
	background-color: lightgrey;
	bottom: 40px;
	text-align: center;
}

#categories
{
	background: url("../media/categories.png") no-repeat;
	width: 270px;
	height: 65px;
	margin-left: -35px; 
	cursor: pointer;
}

#home
{
	background: url("../media/home.png") no-repeat;
	width: 220px;
	height: 65px;
	cursor: pointer;
}

#matchUpDivider
{
	width: 20%;
}

#matchUpDivider > div
{
	width: 50px;
	margin: 150px auto;
	
}

#matchUpDivider > div span
{
	font-size: 30pt;
}

#menu
{
	width: 75%;
	margin: auto;
}

#menu > div
{
	display: inline-block;
	vertical-align: top;
}