/**
 * Created by catop.
 */

html {
    font-size: 200%;
}


body {
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
}

li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 10px;
}

table, input[type=text], input[type=submit], select {
    font-size: 20pt !important;
}

table th:first-child, table td:first-child {
    width: 100%;
}

table th:first-child+th, table td:first-child+td {
    display: none;
}

#page_wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.border {
    border: none;
    box-shadow: none;
    margin: 0px;
}

.row {
    margin: 0px;
}

.col1, .col2 {
    display: none;
}

.thumbnail {
    text-align: center;
}

.thumbnail img, .full-thumbnail img {
    max-width: 680px;
}

.pager img {
    width: 38px;
    height: auto;
    top: 10px;
    margin: 0px 10px;
}

.info-table {
    display: none;
}